<div class="post-title"><%= post.escape('title') %></div>
<div class="post-body"><%= post.escape('body') %></div>
<button class="back-to-index">Back</button>
<button class="edit-post-link">Edit</button>
